<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="startPath" value="d:\temp\source" />
    <add key="targetPath" value="D:\temp\targetc" />
    <add key="tempFolderPath" value="c:\temp\temp" />
    <add key="allowedExtensions" value=".jpg;.jpeg;.raw;.tif;.tiff"/>
  </appSettings>
</configuration>