<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ExcludedFileExtensions" value="exe|com|pdf|xls"/>
    <add key="IncludedFileExtensions" value="jpg|bmp|raw|nef|tif|tiff|gif"/>
    <add key="ContainerFolderCounterStart" value="50"/>
    <add key="ContainerFolderNameFormat" value="#{0}"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
